/* Fonts header */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Fonts base */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Base */

:root {
	--base-color: #f6ef28;
	--base-blue: #4c1dd8;
}

body {
	font-family: "IBM Plex Mono", sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	color: #fff;

	background-image: url("../images/background/110547150_p0.png");
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	box-sizing: border-box;

	max-width: 1040px;
	margin-right: auto;
	margin-left: auto;
}

/* Header */

.header {
	position: fixed;
	padding-top: 10px;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: #000;
	font-family: "Rubik Mono One", sans-serif;
}

.header__logo {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 69px;
	font-weight: bold;
	color: #fff;
	-webkit-text-stroke: 1px #000000;

	transition: all 0.2s ease-in;
}

.header__logo:hover {
	text-decoration: underline;
	-webkit-text-stroke: 1px var(--base-color);
}

.header__sublogo {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
    color: var(--base-color);
	-webkit-text-stroke: 2px #000000;
	transition: all 0.1s ease-in;
}

.header__sublogo:hover {
	font-style: italic;
	color: #fff;
	transform: scale(110%);
}



.header__nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	min-height: 15vh;
	
	font-family: "Russo One", sans-serif;
}

.header__nav .cyber-btn + .cyber-btn {
	margin-top: 2rem;
}

.cyber-btn {
	--primary: hsl(
		var(--primary-hue),
		85%,
		calc(var(--primary-lightness, 50) *1%)
	);
	--shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
	--primary-hue: 0;
	--primary-lightness: 50;
	--color: hsl(0, 0%, 100%);
	--font-size: 26px;
	--shadow-primary-hue: 180;
	--label-size: 9px;
	--shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
	--clip: polygon(
		0 0,
		100% 0,
		100% 100%,
		95% 100%,
		85% 100%,
		8% 100%,
		0 70%
		);
	--border: 4px;
	--shimmy-distance: 5;
	--clip-one: polygon(
		0 2%,
		100% 2%,
		100% 95%,
		95% 95%,
		95% 90%,
		85% 90%,
		85% 95%,
		8% 95%,
		0 70%
	);
	--clip-two: polygon(
		0 78%,
		100% 78%,
		100% 100%,
		95% 100%,
		95% 90%,
		85% 90%,
		85% 100%,
		8% 100%,
		0 78%
	);
	--clip-three: polygon(
		0 44%,
		100% 44%,
		100% 54%,
		95% 54%,
		95% 54%,
		85% 54%,
		85% 54%,
		8% 54%,
		0 54%
	);
	--clip-four: polygon(
		0 0,
		100% 0,
		100% 0,
		95% 0,
		95% 0,
		85% 0,
		85% 0,
		8% 0,
		0 0
	);
	--clip-five: polygon(
		0 0,
		100% 0,
		100% 0,
		95% 0,
		95% 0,
		85% 0,
		85% 0,
		8% 0,
		0 0
	);
	--clip-six: polygon(
		0 40%,
		100% 40%,
		100% 85%,
		95% 85%,
		95% 85%,
		85% 85%,
		85% 85%,
		8% 85%,
		0 70%,
	);
	--clip-seven: polygon(
		0 63%,
		100% 63%,
		100% 80%,
		95% 80%,
		95% 80%,
		85% 80%,
		85% 80%,
		8% 80%,
		0 70%,
	);
	color: var(--base-color);
	cursor: pointer;
	background: transparent;
	text-transform: uppercase;
	font-size: var(--font-size);
	outline: transparent;
	letter-spacing: 2px;
	position: relative;
	font-weight: 700;
	border: 0;
	min-width: 200px;
	height: 75px;
	line-height: 75px;
	transition: background 0.2s;
}

.cyber-btn:hover {
	--primary: hsl(
		var(--primary-hue),
		85%,
		calc(var(--primary-lightness, 50) * 0.8%)
		);
}

.cyber-btn:active {
	--primary: hsl(
		var(--primary-hue),
		85%,
		calc(var(--primary-lightness, 50) * 0.6%)
		);
}

.cyber-btn:after,
.cyber-btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	clip-path: var(--clip);
	z-index: -1;
}

.cyber-btn:before {
	background: var(--shadow-primary);
	transform: translate(var(--border), 0);
}

.cyber-btn:after {
	background: #6b0ce7;
}

.cyber-glitch {
	position: absolute;
	top: calc(var(--border) * -1);
	left: calc(var(--border) * -1);
	right: calc(var(--border) * -1);
	bottom: calc(var(--border) * -1);
	background: var(--shadow-primary);
	text-shadow: 2px 2px var(--shadow-primary),
		-2px -2px var(--shadow-primary);
	clip-path: var(--clip);
	animation: glitch 2s infinite;
	display: none;
}

.cyber-btn:hover .cyber-glitch {
	display: block;
}

.cyber-glitch:before {
	content: "";
	position: absolute;
	top: calc(var(--border) * 1);
	left: calc(var(--border) * 1);
	right: calc(var(--border) * 1);
	bottom: calc(var(--border) * 1);
	clip-path: var(--clip);
	background: var(--primary);
	z-index: -1;
}

@keyframes glitch {
	0% {
		clip-path: var(--clip-one);
	}
	2%,
	8% {
		clip-path: var(--clip-two);
		transform: translate(calc(var(--shimmy-distance) * -1%), 0);
	}
	6% {
		clip-path: var(--clip-two);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	9% {
		clip-path: var(--clip-two);
		transform: translate(0, 0);
	}
	9% {
		clip-path: var(--clip-three);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	10% {
		clip-path: var(--clip-three);
		transform: translate(0, 0);
	}
	14%,
	21% {
		clip-path: var(--clip-four);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	25% {
		clip-path: var(--clip-five);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	30% {
		clip-path: var(--clip-five);
		transform: translate(calc(var(--shimmy-distance) * -1%), 0);
	}
	35%,
	45% {
		clip-path: var(--clip-six);
		transform: translate(calc(var(--shimmy-distance) * -1%), 0);
	}
	40% {
		clip-path: var(--clip-six);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	50% {
		clip-path: var(--clip-six);
		transform: translate(0, 0);
	}
	55% {
		clip-path: var(--clip-seven);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	60% {
		clip-path: var(--clip-seven);
		transform: translate(0, 0);
	}
	31%,
	61%,
	100% {
		clip-path: var(--clip-four);
	}
}

.cyber-btn:nth-of-type(2) {
	--primary-hue: 260;
}

/* --- */

.header__list {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
	font-size: 24px;
}

.header__link {
	color: var(--base-color);
	-webkit-text-stroke: 1px #000000;

}

.header__link--about {
	word-spacing: -.4ch;
}


/* Privacy */

.privacy {
	padding: 200px 0;

	text-align: center;
	min-height: 100%;
	position: relative;
	/* background-image: url("../images/objects/stripes-1.svg"); */

	/* box-sizing: border-box; */
	/* min-height: 2900px; */

	/* background-position: center; */
	/* object-fit: cover; */
	/* margin-top: -100px;  */

}

.privacy__main-title {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

	font-size: 60px;
	font-weight: 700;
	/* font-family: "Press Start 2P", sans-serif; */
	/* font-family: "Rubik Mono One", sans-serif; */
	/* font-family: "Dela Gothic One", sans-serif; */
	font-family: "Russo One", sans-serif;
	/* font-family: "IBM Plex Mono", sans-serif; */

	letter-spacing: 10px;
	-webkit-text-stroke: 0.5px #000000;

	color: var(--base-color);
}

.privacy__article {
	text-align: center;
	padding-top: 20px;

	color: #000;
}

.privacy__date {
	font-size: 20px;
}

 .privacy__desc {
	border: 5px solid #7041ff;
	border-radius: 15px;

	color: #ffffff;
	background: #4c00b0;
}

.privacy__text {
	padding-top: 20px;
	padding-bottom: 40px;

	font-size: 20px;
}

/* Footer */

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-top: 5px solid #4c1dd8;
	background-color: #1e1323;
}

.footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 30px;
	padding-bottom: 20px;
}

.footer__desc + p {
	display: flex;
	flex-direction: column;
	position: relative;
	row-gap: 5px;
}

.footer__images {
	position: relative;
	left: 15px;
}

.footer__desc-img--3 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer__text {
	right: 0;
}

.footer__text--shiro {
	color: #fff;

	transition: all 0.2 ease-in;
}

.footer__text--shiro:hover {
	color: var(--base-color);
}

.footer__privacy-and-terms {
	display: flex;
	flex-direction: column;
	position: relative;
	row-gap: 5px;
}

.footer__privacy-policy {
	color: #fff;

	transition: all 0.2 ease-in;
}

.footer__privacy-policy:hover {
	color: var(--base-color);
}

.footer__user-terms {
	color: #fff;
	
	transition: all 0.2 ease-in;
}

.footer__user-terms:hover {
	color: var(--base-color);
}

.footer__developers {
	color: #fff;

	transition: all 0.2 ease-in;
}
  
.footer__developers:hover {
	color: var(--base-color);
}


